<div class="icons-banner icons-banner--{{ section.id }}">
  {% if section.settings.main_title != blank %}
    <h3 class="icons-banner__icon__main-title">{{ section.settings.main_title }}</h3>
  {% endif %}
  {% if section.settings.main_text != blank %}
    <p class="icons-banner__icon__main-text">{{ section.settings.main_text }}</p>
  {% endif %}
  <div class=" icons-banner__container icons-banner__container--{{ section.id }}">
    <div class="icons-banner__inner icons-banner__inner--{{ section.id }} swiper"> 
      <div class="icons-banner__icons swiper-wrapper">
      {% for block in section.blocks %}
          <div class="icons-banner__icon swiper-slide">
            <a href="{{ block.settings.url }}" class="icons-banner__icon__link">
              {% if block.settings.icon != blank %}
                <img
                  src="{{ block.settings.icon | image_url: width: block.settings.icon.width }}"
                  alt="{{ block.settings.icon.alt }}"
                  class="icons-banner__icon__image"
                  width="{{ block.settings.icon.width }}"
                  height="{{ block.settings.icon.height }}"
                  loading="lazy"
                >
              {% endif %}
              {% if block.settings.title != blank %}
                <h4 class="icons-banner__icon__title">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="icons-banner__icon__text">{{ block.settings.text }}</p>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if section.settings.main_title != blank %}
  <style>
    .icons-banner--{{ section.id }} {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  </style>
{% endif %}

{% if section.settings.border_bottom == true %}
  <style>
   .icons-banner__container--{{ section.id }} {
      border-bottom: none;
   }
  </style>
{% endif %}

<style>
  .icons-banner--{{ section.id }} {
    background-color: {{ section.settings.background_colour }};
  }
</style>

<script>
  document.addEventListener('swiperReady', () => {
    new Swiper('.icons-banner__inner--{{ section.id }}', {
      slidesPerView: 2.5,
      spaceBetween: 20,
      autoplay: {
        delay: 2000,
      },
      loop: true,
      breakpoints: {
        768: {
          slidesPerView: 5,
          {% if section.blocks.size < 5 %}
            autoplay: false,
          {% endif %}
        }
      }
    });
  });
</script>


{% schema %}
{
  "name": "Icons Banner",
  "settings": [
    {
      "type": "color",
      "id": "background_colour",
      "label": "Background Colour",
      "default": "#FFF9F4"
    },
    {
      "type": "textarea",
      "id": "main_title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "main_text",
      "label": "Body"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "No Border Bottom?",
      "default": false
    }
  ],
  "blocks": [
  {
    "type": "icon",
    "name": "Icon",
    "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Icon Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Icon Text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Icons Banner"
  }
  ]
}
{% endschema %}
